@charset "UTF-8";
*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}
::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}
/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
::before,
::after {
  --tw-content: '';
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/
html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}
/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}
/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.container{
  width: 100%;
}
.visible{
  visibility: visible;
}
.relative{
  position: relative;
}
.\!right-\[-40px\]{
  right: -40px !important;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.mb-\[10px\]{
  margin-bottom: 10px;
}
.mb-\[15px\]{
  margin-bottom: 15px;
}
.mb-\[30px\]{
  margin-bottom: 30px;
}
.mr-\[30px\]{
  margin-right: 30px;
}
.mt-\[10px\]{
  margin-top: 10px;
}
.mt-\[15px\]{
  margin-top: 15px;
}
.mt-\[24px\]{
  margin-top: 24px;
}
.mt-\[30px\]{
  margin-top: 30px;
}
.mt-\[60px\]{
  margin-top: 60px;
}
.block{
  display: block;
}
.flex{
  display: flex;
}
.grid{
  display: grid;
}
.hidden{
  display: none;
}
.h-\[34px\]{
  height: 34px;
}
.h-\[585px\]{
  height: 585px;
}
.w-\[34px\]{
  width: 34px;
}
.w-\[40\%\]{
  width: 40%;
}
.w-\[50\%\]{
  width: 50%;
}
.w-\[60\%\]{
  width: 60%;
}
.w-\[84\%\]{
  width: 84%;
}
.w-full{
  width: 100%;
}
.max-w-\[100\%\]{
  max-width: 100%;
}
.\!translate-y-0{
  --tw-translate-y: 0px !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}
.resize{
  resize: both;
}
.grid-cols-4{
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.flex-col{
  flex-direction: column;
}
.items-start{
  align-items: flex-start;
}
.gap-\[10px\]{
  gap: 10px;
}
.gap-\[15px\]{
  gap: 15px;
}
.gap-\[30px\]{
  gap: 30px;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-x-auto{
  overflow-x: auto;
}
.scroll-smooth{
  scroll-behavior: smooth;
}
.whitespace-nowrap{
  white-space: nowrap;
}
.rounded-\[100px\]{
  border-radius: 100px;
}
.rounded-\[10px\]{
  border-radius: 10px;
}
.rounded-\[26px\]{
  border-radius: 26px;
}
.border{
  border-width: 1px;
}
.border-\[\#C3BFBF\]{
  --tw-border-opacity: 1;
  border-color: rgb(195 191 191 / var(--tw-border-opacity, 1));
}
.bg-\[\#000000\]{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}
.bg-\[\#868686\]{
  --tw-bg-opacity: 1;
  background-color: rgb(134 134 134 / var(--tw-bg-opacity, 1));
}
.bg-\[\#F47829\]{
  --tw-bg-opacity: 1;
  background-color: rgb(244 120 41 / var(--tw-bg-opacity, 1));
}
.bg-\[\#FF0000\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 0 / var(--tw-bg-opacity, 1));
}
.bg-\[\#FFFFFF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.px-\[20px\]{
  padding-left: 20px;
  padding-right: 20px;
}
.py-\[10px\]{
  padding-top: 10px;
  padding-bottom: 10px;
}
.pb-\[15px\]{
  padding-bottom: 15px;
}
.pl-\[20px\]{
  padding-left: 20px;
}
.pr-\[20px\]{
  padding-right: 20px;
}
.pt-\[15px\]{
  padding-top: 15px;
}
.\!text-\[24px\]{
  font-size: 24px !important;
}
.text-\[16px\]{
  font-size: 16px;
}
.text-\[18px\]{
  font-size: 18px;
}
.text-\[20px\]{
  font-size: 20px;
}
.text-\[24px\]{
  font-size: 24px;
}
.text-\[32px\]{
  font-size: 32px;
}
.text-\[36px\]{
  font-size: 36px;
}
.text-\[40px\]{
  font-size: 40px;
}
.font-bold{
  font-weight: 700;
}
.font-light{
  font-weight: 300;
}
.text-\[\#515151\]{
  --tw-text-opacity: 1;
  color: rgb(81 81 81 / var(--tw-text-opacity, 1));
}
.text-\[\#5C5C5C\]{
  --tw-text-opacity: 1;
  color: rgb(92 92 92 / var(--tw-text-opacity, 1));
}
.text-\[\#888\]{
  --tw-text-opacity: 1;
  color: rgb(136 136 136 / var(--tw-text-opacity, 1));
}
.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
.text-gray-400{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}
.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.underline{
  text-decoration-line: underline;
}
.no-underline{
  text-decoration-line: none;
}
.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition-colors{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
html,
body {
  height: 100%;
}

body {
  font-weight: 400;
  font-size: 12px;
  font-family: Lexend;
  /*   box-sizing: border-box; */
}

body.noscroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.burger {
  position: relative;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: none;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.burger::before {
  top: 8px;
}

.burger::after {
  bottom: 8px;
}

.burger span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

/* Active state (when clicked) */
.burger.active::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.burger.active::after {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.burger.active span {
  opacity: 0;
}

.container {
  max-width: 1480px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__wrapper {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  background-color: black;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.logo__section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo__section input {
  height: 45px;
  padding: 20px 14px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.2588235294);
  max-width: 250px;
}

.input__wrapper {
  position: relative;
  display: inline-block;
}

.input__wrapper input {
  font-size: 16px;
}

.input__wrapper .icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__nav li {
  font-family: Lexend;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.header__nav li a {
  cursor: pointer;
  transition: all 0.2s;
}
.header__nav li:hover a {
  color: #fe4e02;
  padding-left: 11px;
  /* border-left: 1px solid white; */
}

.header__nav.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.header__nav li:nth-child(5) {
  color: #fe4e02;
  padding-left: 11px;
  border-left: 1px solid white;
}

/* .burger__menu {
  display: none;
} */
.burger__menu.visible {
  width: 100%;
  height: 300px;
  background-color: black;
  display: block;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.burger__wrapper {
  height: 100%;
  position: relative;
}

.burger__wrapper .input__wrapper {
  display: none;
}

.search__mobile {
  display: none;
  height: 100px;
  width: 100%;
  align-items: center;
  background-color: #2a2a2a;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 27px;
  padding-bottom: 27px;
}
.search__mobile .input__wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
.search__mobile .input__wrapper icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
}
.search__mobile .input__wrapper input {
  width: 100%;
  height: 45px;
  padding: 20px 14px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.2588235294);
  max-width: 100%;
}

.burger__wrapper {
  display: none;
}

.main {
  margin-top: 60px;
}
.main .container {
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}

.text__about {
  max-width: 976px;
  font-family: Lexend;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0%;
}
.text__about span {
  color: #f47829;
}

.advantage_tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tile {
  position: relative;
  height: 382px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 1;
}

.tile h2 {
  font-family: Lexend, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0;
  max-width: 50%;
  position: absolute;
  bottom: 0;
  left: 18px;
  z-index: 3;
}

.tile::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--before-bg);
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.tile:hover h2 {
  bottom: 10px;
  color: white;
  transition: all 0.3s ease;
}

.tile:hover::before {
  opacity: 1;
}

.tile[style*="--before-bg"]::before {
  opacity: 1;
}

.swiper__advantages {
  width: 100%;
  height: 355px;
  display: none;
}

.swiper__advantages__wrapper {
  height: 330px;
}

.swiper-pagination {
  bottom: 0 !important;
}

/* .swiper-pagination {
  bottom: initial;
} */
.swiper__advantages__slide {
  max-width: 100%;
}

.swiper__advantages__wrapper {
  padding-right: 15px;
}

.swiper__advantages__slide:nth-child(1) {
  background-size: cover; /* Заполнить блок, сохранить пропорции */
  background-position: center; /* Центрировать */
  background-repeat: no-repeat;
  background-image: url(../assets/img/MainSlider1.jpg);
}

.swiper__advantages__slide:nth-child(2) {
  background-size: cover; /* Заполнить блок, сохранить пропорции */
  background-position: center; /* Центрировать */
  background-repeat: no-repeat;
  background-image: url(../assets/img/MainSlider2.jpg);
}

.swiper__advantages__slide:nth-child(3) {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/img/MainSlider3.jpg);
}

.swiper-pagination-bullet {
  border: 1px solid black !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

.video__section__main {
  height: 649px;
  max-width: 1480px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  border-radius: 26px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video__section__main img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.popular__products {
  background-color: #eeeef0;
  padding-top: 60px;
  padding-bottom: 60px;
}
.popular__products .container {
  max-width: 1480px;
  position: relative;
  padding-right: 0;
  padding-left: 0;
}

.title {
  margin-bottom: 30px;
}
.title h1 {
  font-family: Lexend;
  font-weight: 500;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0%;
}

.products__wrapper__slider {
  position: relative;
  max-width: 1480px;
  margin: 0 auto;
  box-sizing: border-box;
}

.custom-prev {
  position: absolute;
  top: 50%;
  left: -50px; /* 40px слева от контейнера */
  transform: translateY(-50%);
  width: 23px;
  height: 62px;
  /* background: url("path/to/prev-icon.svg") no-repeat center center; */
  background-size: contain;
  cursor: pointer;
  z-index: 10;
}
.custom-prev img {
  transform: rotate(-180deg);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

/* Кнопка вперед */
.custom-next {
  position: absolute;
  top: 50%;
  right: -50px; /* 40px справа от контейнера */
  transform: translateY(-50%);
  width: 23px;
  height: 62px;
  /* background: url("path/to/next-icon.svg") no-repeat center center; */
  background-size: contain;
  cursor: pointer;
  z-index: 10;
}

.product__picture {
  max-width: 306px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
}
.product__picture img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__slide {
  padding: 20px;
  /*  max-width: 346px; */
  border-radius: 22px;
  background-color: white;
}
.product__slide button:hover {
  background-color: #ce560a;
  transition: all 0.2s ease;
}

.product__id {
  color: #9f9f9f;
  display: block;
  width: 100%;
  font-family: Lexend;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
}

.product__name {
  display: block;
  width: 100%;
  font-family: Lexend;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 10px;
}

.product__model {
  font-family: Lexend;
  font-weight: 500;
  color: #f3711e;
  font-size: 20px;
  line-height: 100%;
}

.product__text {
  display: block;
  width: 100%;
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product__tag {
  color: #666666;
  border-radius: 49px;
  border: 1px solid #a6a6a6;
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 7px;
  padding-left: 20px;
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.category__kind {
  margin-bottom: 15px;
  transition: all 0.2s ease;
}

.category__kind:hover {
  color: #f47829;
  transform: all 0.2s ease;
}

.catalog__tiles {
  display: grid;
  gap: 32px;
  padding-bottom: 108px;
}

.catalog__tile {
  padding: 5px;
  overflow: hidden;
}
.catalog__tile img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 163px;
}

.plank__banner {
  position: relative;
  max-width: 1480px;
  margin: 0 auto;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: url("../assets/img/image_main_catalog.jpg");
  background-repeat: no-repeat;
  background-size: 133%; /* важно: не обрезает, вписывает полностью */
  background-position: left;
  overflow: hidden;
}

.plank__banner::before {
  content: "";
  position: absolute;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0; */
  background-color: rgba(0, 0, 0, 0.3); /* полупрозрачное затемнение */
  z-index: 1;
}

.plank__banner > * {
  position: relative;
  z-index: 2; /* чтобы контент был поверх затемнения */
}

.catalog__banner-text {
  box-sizing: border-box;
  color: white;
  max-width: 788px;
  position: absolute;
  left: 60px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 47px;
}

.catalog__banner__button {
  justify-content: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #f47829;
  border-radius: 49px;
  padding: 20px 30px;
  max-width: 296px;
  transition: all 0.2s ease;
}

.catalog__banner__button:hover {
  background-color: #ce560a;
  transition: all 0.2s ease;
}

.location__section {
  margin-top: 60px;
}
.location__section .container {
  display: flex;
  gap: 32px;
  align-items: stretch;
}

.form__container {
  width: 50%;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  border: 1px solid #c5c5c5;
}
.form__container h2 {
  font-family: Lexend;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0%;
}
.form__container input {
  border: 1px solid #c5c5c5;
  border-radius: 63px;
  padding: 16px 40px;
}
.form__container button {
  justify-content: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #f47829;
  color: white;
  border-radius: 49px;
  padding: 20px 30px;
  max-width: 198px;
}
.form__container button:hover {
  background-color: #ce560a;
  transition: all 0.2s ease;
}

.address_wrapper {
  width: 50%;
  background-color: #eeeef0;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}
.address_wrapper h2 {
  font-family: Lexend;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0%;
}
.address_wrapper h3 {
  font-family: Lexend;
  font-weight: 500;
  line-height: 140%;
}
.address_wrapper p {
  font-family: Manrope;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}

.footer {
  background-color: #000000;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-top: 60px;
}
.footer .container {
  max-width: 980px;
  flex-direction: column;
}

.footer__logo {
  margin: 0 auto;
  background-image: url("../assets/img/LogoFooter.png");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 618px;
  width: 100%;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 50px;
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  /*   gap: 80px; */
}
.footer__nav ul {
  font-family: Manrope;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__nav ul li {
  color: white;
}
.footer__nav ul p {
  color: #868686;
}

.copyright {
  color: #868686;
  margin-top: 60px;
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.breadcrumbs {
  font-weight: 300;
  margin-bottom: 30px;
}
.breadcrumbs p a:not(:last-child) {
  color: #909090;
}

.input__search-page {
  position: relative;
  display: inline-block;
  max-width: 598px;
  width: 100%;
  margin-bottom: 30px;
}
.input__search-page input {
  max-width: 598px;
  width: 100%;
  border: 1px solid black;
  font-size: 16px;
  height: 45px;
  padding: 20px 14px;
  border-radius: 100px;
  background-color: white;
}
.input__search-page .icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
}

.result__section {
  margin-top: 30px;
}

.main.search_page,
.main.product__page {
  margin-top: 20px;
}

.main.product__page .breadcrumbs {
  margin-bottom: 48px;
}

.search__title {
  font-family: Lexend;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0%;
}
.search__title span {
  color: #f47829;
}

.search__title__empty-warn {
  font-family: Lexend;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0%;
  color: #909090;
}

.result__products {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;
}
.result__products .product__slide {
  background-color: #eeeef0;
}

.product__info__wrapper {
  overflow: scroll;
  display: flex;
  gap: 32px;
}

.product__image__lg {
  max-height: 440px;
  border-radius: 22px;
  background-color: #f5f5f7;
  padding: 75px 44px;
}

.product__info .product__id {
  font-size: 18px;
}
.product__info .product__name,
.product__info .product__model {
  margin-top: 10px;
  font-size: 30px;
}
.product__info .product__text {
  margin-top: 15px;
  font-size: 20px;
  color: #000000;
}
.product__info .tags {
  margin-top: 15px;
  gap: 15px;
  max-width: 630px;
}
.product__info .tags .product__tag {
  height: 36px;
}

.product__properties {
  justify-content: space-between;
  /*   min-height: 173px; */
  margin-left: 3%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: Manrope;
  font-weight: 400;
  color: #515151;
  font-size: 18px;
  line-height: 100%;
  list-style-type: disc;
}
.product__properties li::marker {
  font-size: 24px;
  color: rgba(243, 113, 30, 0.9529411765);
}

.standards__wrapper {
  margin-top: 30px;
}

.standards__title {
  font-family: Manrope;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}

.standards {
  display: flex;
  gap: 15px;
  align-items: start;
  text-align: center;
}

.standard__kind {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 300;
  background-color: #f5f5f7;
  border-radius: 10px;
}

/* .product__images__swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  height: 110px;
  padding: 0 40px;
  width: 90%;
  position: relative;

  .product__page__slide {
    background-color: #f5f5f7;
    border-radius: 18px;
    height: 110px;
    max-width: 110px;
  }
  .custom-prev {
    position: absolute;
    left: 0;

    width: 23px;
    top: 50%;
    transform: translateY(0);
  }
  .custom-next {
    width: 23px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(0);
  }
} */
.product__page__slide {
  padding: 7px;
  border-radius: 18px;
  height: 110px;
  background-color: #f5f5f7;
}
.product__page__slide img {
  aspect-ratio: 1/1;
}

.product__mobile__slide img {
  margin: 0 auto;
}

.product__mobile__swiper_wrapper {
  display: none;
}
.product__mobile__swiper_wrapper .swiper-pagination {
  margin-top: 50px;
  position: static;
}

.product__info__switcher {
  margin-top: 48px;
  margin-bottom: 32px;
  background-color: #f5f5f7;
  border-radius: 22px;
  padding: 10px;
  -ms-overflow-style: none;
  overflow: auto;
  overflow-x: unset;
  display: flex;
  gap: 14px;
}
.product__info__switcher .switch__category {
  cursor: pointer;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 17px 100px;
  border-radius: 12px;
  transition: all 0.2s ease;
}
.product__info__switcher .switch__category.active {
  cursor: pointer;
  color: white;
  background-color: #f47829;
  transition: all 0.2s ease;
}
.product__info__switcher .switch__category:hover {
  background-color: rgba(255, 211, 183, 0.6);
}

.accessories__switcher__section {
  margin-top: 32px;
  display: flex;
  gap: 32px;
}
.accessories__switcher__section .accessories__product__card {
  background-color: #f5f5f7;
  border-radius: 22px;
  width: 50%;
  max-height: 287px;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: stretch;
}
.accessories__switcher__section .product__slide {
  display: none;
}

/* Для Chrome, Edge, Safari */
.product__info__switcher::-webkit-scrollbar {
  display: none;
}

/* Для Firefox */
.product__info__switcher {
  scrollbar-width: none;
}

.image__card__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 242px;
  background-color: white;
  border-radius: 12px;
  padding: 25px;
}
.image__card__wrapper img {
  max-width: 243px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.button__view__product {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 15px 20px;
  border: 1px #f47829 solid;
  border-radius: 10px;
  margin-top: 31px;
  transition: all 0.2s ease;
}

.button__view__product:hover {
  color: white;
  background-color: #f47829;
  transition: all 0.2s ease;
}

.technical_switcher__section .props:nth-child(even) {
  background-color: white; /* цвет для чётных */
}
.technical_switcher__section .props:nth-child(odd) {
  background-color: #f5f5f7; /* цвет для нечётных */
}
.technical_switcher__section .props {
  padding-left: 30px;
  padding-right: 30px;
  height: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: 2px solid #e8e8f9;
  border-top: 2px solid #e8e8f9;
}
.technical_switcher__section .props div:nth-child(1) {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
}
.technical_switcher__section .props div:nth-child(2) {
  font-family: Manrope;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 700;
}

.downloads__switcher__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.download__card {
  background-color: #f5f5f7;
  border-radius: 22px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
}

.download__title {
  font-family: Lexend;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}

.download__item {
  cursor: pointer;
  margin-top: 30px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 12px;
  background-color: white;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.download__item span {
  font-weight: 700;
  color: #ce560a;
}

.download__item:hover {
  background-color: rgba(255, 211, 183, 0.6);
}

.features__switcher__section {
  background-color: unset;
  padding: 10px;
}
.features__switcher__section .product__image__section {
  max-height: 479px;
}
.features__switcher__section .product__image__section .product__image__lg {
  border-radius: 22px;
  overflow: hidden;
  background-color: unset;
  height: 100%;
  padding: 0;
}
.features__switcher__section .product__image__section .product__image__lg img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.product__info__features__section {
  margin-top: 30px;
}

.feature__chips {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.feature__chips div {
  background-color: #f5f5f7;
  padding: 10px 20px;
  border-radius: 49px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  color: #515151;
}

.product__image__section__mobile {
  display: none;
}

.hidden {
  display: none !important;
}

.main.solution__page {
  margin-top: 30px;
}

.solution__page__title {
  margin-bottom: 30px;
  max-width: 910px;
}
.solution__page__title h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-style: Bold;
  line-height: 120%;
}

.solution__page__title-text {
  line-height: 120%;
}

.orange-text {
  color: #f47829;
}

.solution_filters {
  background-color: #f5f5f7;
  padding: 30px;
  border-radius: 22px;
}
.solution_filters .solution_filters-btn {
  border-radius: 49px;
  padding: 15px;
  margin-right: 15px;
  background-color: white;
}
.solution_filters .solution_filters-btn.active {
  background-color: #f47829;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none; /* Скрыто по умолчанию */
  z-index: 1000;
  min-width: 150px;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f2f2f2;
}

.dropdown.open .dropdown-menu {
  display: block;
}

.dropdown.open img {
  transform: rotate(-180deg);
  transition: all 0.2s ease;
}

.dropdown img {
  transition: all 0.2s ease;
}

.filter__option {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  padding: 14px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f7;
}

.filter__note {
  margin-top: 15px;
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  line-height: 100%;
}

.first__filter__forms {
  margin-top: 21px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}
.first__filter__forms .size__form {
  padding: 15px;
  background-color: white;
  border-radius: 22px;
}
.first__filter__forms .size__form h5 {
  margin-bottom: 15px;
}
.first__filter__forms .size__form .size__form-text {
  font-family: Manrope;
  font-weight: 200;
  font-style: Regular;
  color: #9f9f9f;
}

.custom-checkbox {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.custom-checkbox input {
  display: none;
}

.checkmark {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  position: relative;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #f47829; /* Цвет галочки */
}

.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox p {
  font-family: Manrope;
  font-weight: 300;
}

.form__input {
  font-family: Manrope;
  font-weight: 300;
  font-style: Regular;
  font-size: 16px;
  width: 100%;
  padding: 14px;
  border: 1px solid #e3e3e3;
  border-radius: 14px;
}

.form__input:focus {
  border: 1px solid black;
  outline: none;
}

.filter__dropdowns {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.filter__checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.second__filter__forms {
  display: none;
  margin-top: 21px;
  /* display: grid; */
  gap: 20px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.second__filter__forms .size__form {
  padding: 15px;
  background-color: white;
  border-radius: 22px;
}
.second__filter__forms .size__form h5 {
  margin-bottom: 15px;
}
.second__filter__forms .size__form .size__form-text {
  font-family: Manrope;
  font-weight: 200;
  font-style: Regular;
  color: #9f9f9f;
}

.filter__apply__btns {
  display: none;
  margin-top: 20px;
  /* display: flex; */
  flex-direction: column;
  gap: 20px;
}

#apply-filters {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  background-color: #f47829;
  border-radius: 10px;
}

#clear-filters {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #848484;
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  border: 1px solid #cacaca;
  border-radius: 10px;
}

.founded__section__info__filter {
  margin-top: 41px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.found__note {
  font-weight: 200;
}
.found__note span {
  font-family: Manrope;
  font-style: Medium;
  line-height: 140%;
  letter-spacing: 0%;
}

.clear__found__filter {
  cursor: pointer;
  border-color: #636363;
  border: 1px solid;
  padding: 11px 15px;
  border-radius: 1000px;
  color: #636363;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.founded__products__section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}

.founded__item {
  padding: 15px;
  background-color: #fafafc;
  border-radius: 14px;
  border: 1px solid #eaeaea;
  width: 100%;
  overflow: hidden;
}

.found__item__content {
  display: flex;
}
.found__item__content img {
  border-radius: 10px;
  max-width: 160px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 149px;
  display: block;
  margin-right: 20px;
}

.found__item__id {
  color: #9f9f9f;
  font-weight: 400;
}

.found__item__model {
  margin-top: 10px;
  color: #f3711e;
  font-weight: 500;
}

.main_btn {
  justify-content: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #f47829;
  color: white;
  border-radius: 10px;
  padding: 15px 20px;
}

.found__item__desription {
  margin-right: 95px;
}
.found__item__desription .found__item__base__info {
  width: 120px;
}
.found__item__desription .found__item__base__info button {
  margin-top: 50px;
  width: 120px;
  transition: all 0.2s ease;
}
.found__item__desription .found__item__base__info button:hover {
  background-color: #ce560a;
  transition: all 0.2s ease;
}

.found_item__properties {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
}
.found_item__properties span {
  font-weight: 300;
  font-style: Light;
}

.found_item__properties__show {
  display: none;
}

.founded__products__section__pagination {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.founded__products__section__pagination span {
  width: 11px;
}

.pagination__start,
.pagination__prev,
.pagination__page,
.pagination__page.active,
.pagination__next,
.pagination__end {
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  border-radius: 8px;
  font-weight: 300;
  color: #999999;
}

.pagination__start,
.pagination__prev,
.pagination__next,
.pagination__end {
  background-color: #f3f3f3;
}

.pagination__page {
  border: 1px solid #999999;
}
.pagination__page span {
  text-align: center;
}

.pagination__page.active {
  border: 0;
  background-color: black;
}
.pagination__page.active span {
  color: white;
}

.founded__products__section__pagination-mobile {
  display: none;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.founded__products__section__pagination-mobile .pagination__start,
.founded__products__section__pagination-mobile .pagination__prev,
.founded__products__section__pagination-mobile .pagination__page,
.founded__products__section__pagination-mobile .pagination__page.active,
.founded__products__section__pagination-mobile .pagination__next,
.founded__products__section__pagination-mobile .pagination__end {
  margin-right: 8px;
}

.solutions__bottom__text {
  margin-top: 60px;
}
.solutions__bottom__text h2 {
  font-weight: 700;
  line-height: 120%;
}
.solutions__bottom__text p {
  font-weight: 300;
  font-style: Light;
  line-height: 140%;
}

.solutions__upper__text {
  max-width: 625px;
}

.solutions__tiles__text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 22px;
  margin-top: 60px;
}
.solutions__tiles__text h3 {
  font-family: Lexend;
  font-weight: 700;
  font-style: Bold;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 10px;
}
.solutions__tiles__text .solitions__tile__text {
  padding-left: 10px;
  border-left: 6px solid #f47829;
}

.solutions__bottom__text__note {
  padding: 25px;
  max-width: 721px;
  background-color: #f5f5f7;
  border-radius: 22px;
  margin-top: 60px;
}
.solutions__bottom__text__note p {
  font-weight: 300;
  line-height: 140%;
}
.solutions__bottom__text__note button {
  border-radius: 49px;
  margin-top: 15px;
}
.solutions__bottom__text__note button:hover {
  background-color: #ce560a;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* полупрозрачный фон */
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* СЛОЙ НАД ВСЕМ */
}

.modal-content {
  background: white;
  position: relative;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

.hover\:bg-\[\#CE560A\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(206 86 10 / var(--tw-bg-opacity, 1));
}

.hover\:text-\[\#F47829\]:hover{
  --tw-text-opacity: 1;
  color: rgb(244 120 41 / var(--tw-text-opacity, 1));
}

@media (max-width: 1279px){
  .xl\:w-\[74\%\]{
    width: 74%;
  }
}

@media (max-width: 1023px){
  .lg\:w-\[88\%\]{
    width: 88%;
  }
}

@media (max-width: 767px){
  .md\:mt-\[20px\]{
    margin-top: 20px;
  }
  .md\:mt-\[40px\]{
    margin-top: 40px;
  }
  .md\:hidden{
    display: none;
  }
  .md\:pt-\[40px\]{
    padding-top: 40px;
  }
  .md\:\!text-\[14px\]{
    font-size: 14px !important;
  }
  .md\:\!text-\[16px\]{
    font-size: 16px !important;
  }
  .md\:text-\[14px\]{
    font-size: 14px;
  }
  .md\:text-\[16px\]{
    font-size: 16px;
  }
  .md\:text-\[18px\]{
    font-size: 18px;
  }
  .md\:text-\[20px\]{
    font-size: 20px;
  }
}