<footer class="footer md:mt-[40px]">
  <div class="container">
    <div class="footer__logo"></div>
    <div class="footer__nav">
      <ul class="text-[18px] md:text-[16px]">
        <p>Contact</p>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Request for quotation</a></li>
      </ul>
      <ul class="text-[18px] md:text-[16px]">
        <p>Company</p>
        <li><a href="#">About Company</a></li>
      </ul>
      <ul class="text-[18px] md:text-[16px]">
        <p>Quick links</p>
        <li><a href="#">Firestop videos</a></li>
        <li><a href="#">Engineering Solution</a></li>
      </ul>
      <ul class="text-[18px] md:text-[16px]">
        <p>Download</p>
        <li><a href="#">Technical Data</a></li>
      </ul>
    </div>
    <div class="copyright">© 2024-2026 Rocktech. All rights reserved.</div>
  </div>
</footer>
